<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .signIn {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 10px;
            margin-bottom: 2rem;
        }
        .signUp-button {
            margin-top: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none; /* Remove underline for the link */
        }
    </style>
</head>
<body>
    <form class="signIn" action="/login" method="POST">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <a href="/signup" class="signUp-button">Don't have an account? Sign Up</a>
</body>
</html>
